.core-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.skills-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 40%;
  animation: float 3s ease-out infinite;
}
.skills-video img {
  max-width: 100%;
  max-height: 100%;
}
.skills-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width: 40%;
  height: 100%;
  gap: 3rem;
}
.skills-section .skills {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  gap: 5px;
}
.skills-section .skills .skill-name{
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.skills-section .skills .level {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}
.skills-section .skills .level .levels-w {
  width: 12%;
  height: 3px;
  background-color: whitesmoke;
  transition: 2s;
}
.skills-section .skills .level .levels {
  width: 12%;
  height: 3px;
  background-color: rgb(51, 51, 51);
}
@keyframes float {
  50% {
    transform: translate(0, 15px);
  }
}
@media only screen and (max-width: 800px) {
  .about {
    display: none;
  }
  .core-skills {
    display: none;
  }
  .brand {
    display: none;
  }
}
