* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  background-color: #121212;
  font-family: "Courier New", Courier, monospace;
}
::-webkit-scrollbar {
  display: none;
  transition: 1s;
}
.menu {
  position: absolute;
  top: 5%;
  right: 10%;
  margin: 1.7rem;
  z-index: 3;
  cursor:pointer;
}

.menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0, 3 ease-in-out;
  background-color: rgb(255, 255, 255);
}

.menu.active .bar:nth-child(2) {
  opacity: 0;
}

.menu.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

#menuslide {
  position: absolute;
  top: 0%;
  left: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
#menuslide.active {
  left: 0%;
}

.menubar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.menu-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
}
.menu-1 {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 50%;
  height: 100%;
}
.menu-1 ul {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.menu-1 ul a {
  color: whitesmoke;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
  font-weight: 100;
  cursor: pointer;
}
.menu-2 {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  height: 100%;
}
.menu-2 ul {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.menu-2 ul a {
  color: whitesmoke;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
  font-weight: 100;
  cursor: pointer;
}
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#video {
  width: 30%;
  height: 60%;
  animation: float 3s ease-out infinite;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  color: whitesmoke;
  font-size: 0.8rem;
  font-weight: 100;
}
#response {
  position: relative;
}
/* a {
  color: whitesmoke;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
  font-weight: 100;
  cursor: pointer;
} */
#response::after {
  content: "|";
  position: absolute;
  right: 0;
  color: white;
  background-color: #121212;
  width: 100%;
  animation: typing 3s steps(19) alternate infinite, line 1s infinite;
}
.down-icon {
  margin-top: 4rem;
  color: whitesmoke;
  font-size: 1.5rem;
  animation: float2 3s ease-out infinite;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: justify;
  gap: 1rem;
}
.about h1 {
  color: whitesmoke;
  width: 50%;
}
.about .contact-h1 {
  display: flex;
  align-items: center;
  justify-content: start;
  color: whitesmoke;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
  font-weight: 100;
  cursor: pointer;
  width: 50%;
  transition: 0.5s;
}
.about .contact-h1:hover {
  color: blueviolet;
  /* text-shadow: blueviolet 1px 0 10px; */
}
@keyframes typing {
  to {
    width: 0%;
  }
}
@keyframes line {
  50% {
    color: transparent;
  }
}
@keyframes float {
  50% {
    transform: translate(0, 15px);
  }
}
@keyframes float2 {
  40% {
    transform: translate(0, 5px);
  }
}
