*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-size: 0.8rem;
    font-weight: 100;
}
#response{
    position: relative;
}
#response::after{
    content: '|';
    position: absolute;
    right: 0;
    color: white;
    background-color: #121212;
    width: 100%;
    animation: typing 3s steps(16) alternate infinite,
                line 1s infinite;
}
@keyframes typing{
    to{
        width: 0%;
    }
}
@keyframes line {
    50%{
        color: transparent;
    }
}
