.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 30%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}
.form h1 {
  width: 100%;
}
.form input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: whitesmoke;
  padding: 0px 0px 0px 5px;
}
.form textarea {
  width: 100%;
  height: 5rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: whitesmoke;
  padding: 0px 0px 0px 5px;
}
.form button {
  width: 40%;
  height: 3rem;
  background-color: transparent;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
}
@media only screen and (max-width: 800px) {
  .form {
    width: 85%;
  }
}
